body {
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



h1 {
    font-weight: bold;
    color: #000000;
    font-size: 60px;
  }

#led-matrix {
    display: grid;
    grid-template-columns: repeat(32, 20px);
    grid-template-rows: repeat(8, 20px);
    gap: 2px;
    margin-bottom: 40px;
    border-width:20px;
    border-style:solid;
    border-color:black;
    border-radius: 20px;
}

.led {
    width: 20px;
    height: 20px;
    background-color: #000;
    cursor: pointer;
}

.led.disabled {
    background-color: #808080; /* Grau */
    pointer-events: none;
}

#brightness {
    margin-bottom: 20px;
    display:inline-block;
    float:left;
    width:700px;
}

#fontcolor {
    margin-bottom: 20px;
    display:inline-block;
    float:left;
    width:700px;
}

#config {
    margin-top: 40px;
    margin-bottom: 20px;
    display:inline-block;
    float:left;
    width:700px;
}

#send {
    margin-top: 40px;
    margin-bottom: 40px;
}


#mode {
    margin-bottom: 20px;
}

#output {
    width: 90%;
    height: 200px;
}

/* Modal (dialog) styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #111827;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#standard-colors {
    margin-bottom: 20px;
    
}

.standard-color {
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 13px;
    cursor: pointer;
    border: 1px solid rgb(209,213,219);

}

#export-btn {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 740px;
    outline: none;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

#export-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

#export-btn::active {
    box-shadow: none;
    transform: translateY(0);
  }

#download-btn {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#download-btn:hover {
    background-color: rgb(249,250,251);
  }

#upload-btn {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#upload-btn:hover {
    background-color: rgb(249,250,251);
  }

#manual-brightness-btn {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#manual-brightness-btn:hover {
    background-color: rgb(249,250,251);
  }

#auto-brightness-btn {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#auto-brightness-btn:hover {
    background-color: rgb(249,250,251);
  }

  #fontcolor-btn {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#fontcolor-btn:hover {
    background-color: rgb(249,250,251);
  }

#mode-select {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#manual-brightness-input {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#color-picker {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 400;
    line-height: 0.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#fontcolor-picker {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 400;
    line-height: 0.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
}


#confirm-whole {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

#confirm-whole:hover {
    background-color: rgb(249,250,251);
    }

#confirm-clock {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
    }
    
    #confirm-clock:hover {
        background-color: rgb(249,250,251);
        }